<h1>Character Form: DnD 5e</h1>

<form class="create-form">
    <div class="form-group">
        <label for="name">Character Name:</label>
        <input type="text" id="nameText" name="name"></input>
    </div>
    <div class="form-group">
        <label for="class">Class:</label>
        <input type="text" id="classText" name="class"></input>
    </div>
    <div class="form-group">
        <label for="level">Level:</label>
        <input type="number" id="levelVal" name="level"></input>
    </div>
    <div class="form-group">
        <label for="background">Background:</label>
        <input type="text" id="backgroundText" name="background"></input>
    </div>
    <div class="form-group">
        <label for="race">Race:</label>
        <input type="text" id="raceText" name="race"></input>
    </div>
    <div class="form-group">
        <label for="alignment">Alignment:</label>
        <input type="text" id="alignmentText" name="alignment"></input>
    </div>
    <div class="form-group">
        <label for="experience">Experience:</label>
        <input type="number" id="experienceVal" name="experience"></input>
    </div>
    <div class="form-group">
        <label for="personalityTraits">Personality Traits:</label>
        <input type="text" id="personalityTraitsText" name="personalityTraits"></input>
    </div>
    <div class="form-group">
        <label for="ideals">Ideals:</label>
        <input type="text" id="idealsText" name="ideals"></input>
    </div>
    <div class="form-group">
        <label for="bonds">Bonds:</label>
        <input type="text" id="bondsText" name="bonds"></input>
    </div>
    <div class="form-group">
        <label for="flaws">Flaws:</label>
        <input type="text" id="flawsText" name="flaws"></input>
    </div>
    <div class="form-group">
        <label for="featuresAndTraits">Features and Traits:</label>
        <input type="text" id="featuresAndTraitsText" name="featuresAndTraits"></input>
    </div>

    <button type="submit">
        Submit Character
    </button>
</form>