<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <!-- Google Materialize Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Google Materialize Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script src="/public/js/hero-genesis.js"></script>
  <title>Hero Genesis</title>
</head>


<body>
  <div class="container">
    <div class="row">
      <div class="col m2">
        <ul id="slide-out" class="sidenav sidenav-fixed">
          <li><a href="#!">First Sidebar Link</a></li>
          <li><a href="#!">Second Sidebar Link</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
      <div class="col m10">
        {{{body}}}
      </div>
    </div>
  </div>
</body>

</html>