<h1>Character Form: Fate Accelerated</h1>

<form class="create-form">
    <div class="form-group">
        <label for="name">Character Name:</label>
        <input type="text" id="nameText" name="name"></input>
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="descriptionText" name="description"></input>
    </div>
    <div class="form-group">
        <label for="highConcept">High Concept:</label>
        <input type="text" id="highConceptText" name="highConcept"></input>
    </div>
    <div class="form-group">
        <label for="trouble">Trouble:</label>
        <input type="text" id="troubleText" name="trouble"></input>
    </div>
    <div class="form-group">
        <label for="aspect3">Aspect 3</label>
        <input type="text" id="aspect3Text" name="aspect3"></input>
    </div>
    <div class="form-group">
        <label for="aspect4">Aspect 4:</label>
        <input type="text" id="aspect4Text" name="aspect4"></input>
    </div>
    <div class="form-group">
        <label for="aspect5">Aspect 5:</label>
        <input type="text" id="aspect5text" name="aspect5"></input>
    </div>
    <div class="form-group">
        <label for="stunts">Stunts:</label>
        <input type="text" id="stuntsText" name="stunts"></input>
    </div>

    <button class="btn btn-primary" type="submitForm" id = "submitFormFateAcc">
        Submit Character
    </button>
</form>