<h1>Character Form: DnD 5e</h1>

<form class="create-form">
    <div class="row">
        <div class="col m4">
            <div class="form-group">
                <div class="input-field">
                    <label for="name">Character Name</label>
                    <input placeholder="" id="nameText" type="text" class="validate">
                    <a class="btn-floating btn-small waves-effect waves-light rgb(82,88,110)" id="add"><i class="material-icons">casino</i></a>
                </div>
            </div>
        </div>
        <div class="col m4">
            <div class="form-group">
                <div class="input-field">
                    <label for="class">Class</label>
                    <input placeholder="" id="classText" type="text" class="validate">
                    <a class="btn-floating btn-small waves-effect waves-light rgb(82,88,110)" id="classAdd"><i class="material-icons">casino</i></a>
                </div>
            </div>
        </div>
        <div class="col m4" <div class="form-group">
            <div class="input-field">
                <label for="background">Background</label>
            <textarea placeholder="" class="materialize-textarea" id="backgroundText" name="background"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m6">
            <div class="form-group">
                <div class="input-field">
                    <label for="race">Race</label>
                    <input placeholder="" id="raceText" type="text" class="validate">
                    <a class="btn-floating btn-small waves-effect waves-light rgb(82,88,110)" id="raceAdd"><i class="material-icons">casino</i></a>
                </div>
            </div>
        </div>
        <div class="col m6">
            <div class="form-group">
                <div class="input-field">
                    <label for="alignment">Alignment</label>
                    <input placeholder="" id="alignmentText" type="text" class="validate">
                    <a class="btn-floating btn-small waves-effect waves-light rgb(82,88,110)" id="alignmentAdd"><i class="material-icons">casino</i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-field">
            <textarea placeholder="" class="materialize-textarea" id="personalityTraitsText" name="personalityTraits"></textarea>
            <label for="personalityTraits">Personality Traits</label>
        </div>
    </div>
    <div class="form-group">
        <div class="input-field">
            <textarea placeholder="" class="materialize-textarea" id="idealsText" name="ideals"></textarea>
            <label for="ideals">Ideals</label>
        </div>
    </div>
    <div class="form-group">
        <div class="input-field">
            <textarea placeholder="" class="materialize-textarea" id="bondsText" name="bonds"></textarea>
            <label for="bonds">Bonds</label>
        </div>
    </div>
    <div class="form-group">
        <div class="input-field">
            <textarea placeholder="" class="materialize-textarea" id="flawsText" name="flaws"></textarea>
            <label for="flaws">Flaws</label>
        </div>
    </div>
    <div class="form-group">
        <div class="input-field">
            <textarea placeholder="" class="materialize-textarea" id="featuresAndTraitsText" name="featuresAndTraits"></textarea>
            <label for="featuresAndTraits">Features and Traits</label>
        </div>
    </div>
    <div class="form-group">
        <div class="input-field">
            <label for="author">Author</label>
            <input placeholder="" class="text" type="text" id="authorText" name="author"></input>
        </div>
    </div>

    <button class="btn btn-primary" type="submitForm" id="submitFormDnd5e">
        Submit Character
    </button>
</form>