
    <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Please pick a game you would like to play!</a>
    
    <a href="javascript:genPDF()">Download your Hero in PDF format</a>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">DnD 5E</a></li>
    </ul>

<button class="btn waves-effect waves-light" id = "submitType" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

