<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <title>Pick a game!</title>
</head>

<body>
    <script>
        $('.dropdown-trigger').dropdown();
    </script>
    <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Please pick a game you would like to play!</a>

    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">DnD 5E</a></li>
    </ul>

<button class="btn waves-effect waves-light" id = "submit" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

</body>

</html>