    <h1>Choose Your Adventure</h1>

    <div class="container">


        <!-- Dropdown Structure -->

        <button class="btn waves-effect waves-light" id="goToDnd5e" type="submit" name="action">DnD 5E
            <i class="material-icons right">send</i>
        </button>
        <div>
            <button class="btn waves-effect waves-light" id="goToPath" type="submit" name="action">Pathfinder
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>