<h2>Choose Your Adventure</h2>

<div class="container">


    <!-- Dropdown Structure -->

    <button class="btn waves-effect waves-light" id="goToDnd5e" type="submit" name="action">DnD 5E
        <i class="material-icons right">send</i>
    </button>
    <button class="btn waves-effect waves-light" id="goToFateAcc" type="submit" name="action">Fate Accelerated
        <i class="material-icons right">send</i>
    </button>

</div>