<body>
    <div class="container">
    <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Please pick a game you would like to play!</a>


    <!-- Dropdown Structure -->

    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!">DnD 5E</a></li>
    </ul>
<div>
    <button class="btn waves-effect waves-light" id="submit" type="submit" name="action">Go
        <i class="material-icons right">send</i>
    </button>
    </div>
</div>
</body>
<script>  
    $('.dropdown-trigger').dropdown();
</script>
</html>