<div id="home">
  <div>
  <img src="/images/HGLogoLight.PNG" style="width:200px;display:block;margin-left:auto;margin-right:auto">
  </div>
  <h2 id="logo">Hero Genesis</h2>
  <p>Hero genesis is an open platform for RPG players and Dungeon Masters to generate and exchnage ideas.</p>

  <button id="getStarted" class="btn btn-primary float-right">Create Character</button>

  <h4>Recent Creations</h4>
  <table>
    <thead>
      <th>Name</th>
      <th>GameType</th>
      <th>Author</th>
    </thead>
    {{#each character}}
    <tr id={{this.id}} class="list-group-item">
      <td>{{name}}</td>
      <td>{{gameType}}</td>
      <td>{{author}}</td>
    </tr>
    {{/each}}
  </table>
</div>