<div class="entry">
    <h1>Character Form: DnD 5e - PDF Printable</h1>
    <div class="body">
        {{form}}
    </div>

    <li>
        <button class="print" data-id="{{this.id}}">PRINT!</button>
    </li>

</div>
