<div id="view-all">
  <h2>All Characters</h2>
  <ul id="view-all-list" class="list-group">
    <table>
      <thead>
        <th>Name</th>
        <th>GameType</th>
        <th>Author</th>
      </thead>
      {{#each character}}
      <tr id="{{this.id}}" class="list-group-item">
        <td>{{name}}</td>
        <td>{{gameType}}</td>
        <td>{{author}}</td>
      </tr>
      {{/each}}
    </table>
  </ul>